<div class="panel panel-default table-dynamic">
    <div class="panel-heading"><a href="/CourseList#list" class="btn btn-info btn-direction btn-left">Go Back</a><strong> Course ID: {{courseID}}</strong></div>
    
    <div class="table-filters">
        <div class="row form-group">
            <div class="col-sm-4">
                <label for="btnPlatform">Platform:</label>
                <div class="btn-group">
                    <button id="btnPlatform" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Select Platform <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="d in filterData.platform"><a href="javascript:;" ng-model="filters.System" btn-radio="'{{d}}'" ng-click="changeFilter('btnPlatform', d)">{{d}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="btnLanguage">Language:</label>
                <div class="btn-group">
                    <button id="btnLanguage" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Select Language <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="d in filterData.langugae"><a href="javascript:;" ng-model="filters.SrcCulture" btn-radio="'{{d}}'" ng-click="changeFilter('btnLanguage', d)">{{d}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <label for="btnPlatform">Culture:</label>
                <div class="btn-group">
                    <button id="btnCulture" type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown"> Select Culture <span class="caret"></span> </button>
                    <ul class="dropdown-menu" role="menu">
                        <li ng-repeat="d in filterData.culture"><a href="javascript:;" ng-model="filters.TarCulture" btn-radio="'{{d}}'" ng-click="changeFilter('btnCulture', d)">{{d}}</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
   
    <table id="mytable" class="table table-bordered table-striped table-responsive">
        <thead>
            <tr>
                <th>
                    <div class="th">
                        Action
                    </div>
                </th>
                <th>
                    <div class="th">
                        Course Name
                    </div>
                </th>
                <th>
                    <div class="th">
                        Language
                    </div>
                </th>
                <th>
                    <div class="th">
                        Culture
                    </div>
                </th>
                <th>
                    <div class="th">
                        Platform
                    </div>
                </th>
                <th>
                    <div class="th">
                        Update Date
                    </div>
                </th>
                <th>
                    <div class="th">
                        Update By
                    </div>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="course in courseList | filter:filters">
                <td><div style="text-decoration:underline;"><a href="/Course#edit/{{course.CourseID}}/{{course.System}}/{{course.SrcCulture}}/{{course.TarCulture}}">View</a></div></td>
                <td>{{course.CourseName}}</td>
                <td>{{course.TarCulture}}</td>
                <td>{{course.SrcCulture}}</td>
                <td>{{course.System}}</td>
                <td>{{course.UpdateDate}}</td>
                <td>{{course.UpdateBy}}</td>
            </tr>
        </tbody>
    </table>
</div>