<div id="nav-container">
    <div id="nav-wrapper">
        <ul id="nav">
            <li><a href="/Dashboard"> <i class="fa fa-dashboard"></i><span>Dashboard</span> </a></li>
            <li>
                <a href="/CourseList#list"><i class="glyphicon glyphicon-random"></i><span>Course</span></a>
                <ul>
                    <li><a href="/CourseList#list"><i class="fa fa-caret-right"></i><span>All Course</span></a></li>
                </ul>
            </li>
        </ul>
    </div>
</div>